@import '~common/stylus/variable.styl'

.top-tip
    position: fixed
    top: 0
    width: 100%
    z-index: 500
    background: $color-dialog-background
    &.drop-enter
        transform: translate3d(0, -100%, 0)
    &.drop-enter-active
        transform: translate3d(0, 0, 0)
        transition: all 300ms
    &.drop-exit
        opacity: 1
        transform: translate3d(0, 0, 0)
    &.drop-exit-active
        opacity: 0
        transform: translate3d(0, -100%, 0)
        transition: all 300ms