@import '~common/stylus/variable.styl'

.loading
    width: 100%
    text-align: center
    line-height: 30px
    img
        vertical-align: middle
    .desc
        display: inline-block
        // line-height: 20px
        margin-left: 5px
        font-size: $font-size-medium
        color: $color-text-l